/* mobile screen  */

.topnav-wrapper{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.logo{
    flex: 90%;
    z-index: 100;
    background-color: white;
    padding: 15px;
}

.logo-image{
    width: 160px;
}

.nav-caret{
    background-color: white;
    flex: 10%;
    align-self: flex-start;
    margin-top: 20px;
    z-index: 100;
    font-size: 20px;
}

.nav-buttons{
    position: fixed;
    top: 80px;
    z-index: 10;
    flex: 100%;
    text-transform: uppercase;
    color: rgb(0,0,0,0.6);
    height: calc(100vh + 80px);
    background-color: white;
    width: 100vw;

    font-size: 20px;
    padding-top: 60px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.nav-button{
    cursor: pointer;
    transition: 0.3s linear;
    margin-bottom: 25px;
}

.nav-button:hover{
    transform: scale(110%);
    color: rgb(0,0,0,0.8);
}

.contact-us-button{
    transition: 0.3s linear;
    color: white;
    background: linear-gradient(to right, #fcdf00, #fc9300, #f95800);
    width: fit-content;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}

.contact-us-button:hover{
    cursor: pointer;
    /* filter: brightness(90%); */
    transform: scale(115%);
    background: linear-gradient(to left, #fcdf00, #fc9300, #f95800);
}

.open{
    animation: 0.5s slide-down linear;
}

.close{
    transform: translateY(calc( -100vh - 160px));
    animation: 0.5s slide-up linear;
    /* visibility: hidden; */
}

@keyframes slide-down {
    from{
        transform: translateY(-100vh);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes slide-up {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-100vh);
    }
}


/* media query for desktop screen */
@media (min-width: 768px) {
    .topnav-wrapper{
        height: 120px;
        display: flex;
        flex-wrap: nowrap;
        padding: 0px 120px 0px 95px;
    }
    
    .logo{
        flex: 30%;
        align-self: flex-end;
    }

    .logo-image{
        width: 300px;
        
    }

    .nav-caret{
        display: none;
    }
    
    .nav-buttons{
        flex: 70%;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 20px;
        gap: 35px;
        height: auto;
        padding: 10px;
        position: relative;
        top: auto;
        font-size: 18px;
    }
    
    .nav-button{
        align-self: center;
        margin-bottom: auto;
    }
    
    .contact-us-button{
        padding: 7px;
        border-radius: 7px;
        font-size: 15px;
        text-align: center;
    }
    .open{
        animation: none;
    }
    
    .close{
        transform: none;
        animation: none;
    }
}